@font-face {
	font-family: 'Nexa Light';
	src: url('../fonts/nexa_light-webfont.eot');
	src: local(''), url('../fonts/nexa_light-webfont.woff') format('woff'), url('../fonts/nexa_light-webfont.ttf') format('truetype'), url('../fonts/nexa_light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.modoras-header {
	width: 100%;
	
	background-color: #002852;

}

.modoras-header .modoras-logo {
	display: inline-block;
	width: 309px;
	
	
	padding: 30px 0px;
	
}

@media only screen and (max-width: 780px) {
	
	.modoras-header .modoras-logo {
    	margin-left: auto;
    	margin-right: auto;
    	padding: 30px 0px;
    	display: block;
    	text-align: center;
	}
}

.modoras-header .ph {
	float: right;
	display: inline-block;
	padding: 30px 0px;
	font-size: 40px;
	color: #fff;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
}

.modoras-header .ph:hover {
	text-decoration: none;
	color: #f35d4d;
}

@media only screen and (max-width: 780px) {

	.modoras-header .ph {
    	font-size: 30px;
    	float: none;
    	padding: 0px 0px 30px 0;
    	display: block;
    	text-align: center;
	}
}

.modoras-btn1 {
	
	font-size: 18px;
}

.modoras-btn2 {
	padding: 5px 30px;
	font-size: 18px;
}

.boxtitle {
	font-size: 1.5em;
	text-align: center;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
}

@media only screen and (max-width: 1190px) {
	.boxtitle {
    	font-size: 1.2em;
	}
}

@media only screen and (max-width: 767px) {
	.boxtitle {
    	font-size: 1.5em;
	}
}

.bg-primary-modoras {
  background-color: #ffffff !important;
}

.modoras-section1 {

	padding: 3rem 0 !important;
}


.modoras-h2 {
	font-size: 3em;
}



.modoras-p1 {
	font-size: 1.5em;
	color: #000;
}

.modoras-p2 {
	font-size: 23px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #999;
}

@media only screen and (max-width: 1190px) {
	.modoras-p2 {
    	font-size: 1.2em;
	}
}

@media only screen and (max-width: 767px) {
	.modoras-p2 {
    	font-size: 23px;
	}
}

.feature-item {
	margin: 0 auto;
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;    
}

.feature-item img {
	margin-bottom: 10px;
}

.feature-item a {
	display: block;
	padding: 5px 0px; 
	color: #277299; 
}

.feature-item a:hover {
	
	color: #f36240; 
}

.feature-item h4 {
	
	font-size: 23px;
}

.feature-item p {
	font-size: 16px;
}

#footer {
	padding: 1rem 0 !important;
	
}

#footer .col-md-12 {
	
	text-align: center;
	background: url(../img/footer-hr.png) center bottom no-repeat;
}



#copyright {
	padding: 1rem 0 !important;
	background: #1e2a3f;
}

#copyright p {
	font-size: 11px;
	color: #fff;
	text-align: center;
}

.modoras-btn-height {
	min-height: 200px;
	height:auto !important;
	height: 200px;
}

@media only screen and (max-width: 767px) {
	.modoras-btn-height {
    	min-height: auto !important;
		height: auto !important;
		
	}
}